html {
    height: 100%;
}
#search-page-container {
    background-image: url("../components/Images/dan-meyers-0AgtPoAARtE-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.headline {
    color: rgb(94, 0, 145);
}
